footer(class="footer")
    div(class="container")
        div(class="row") Lite shop it is shop where you can find it! © 2020

script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8")
script(src="js/nav.js")
script(src="js/cart.js")
