div(class='nav-list btn-success')
    div(class='nav-btn-close') x
    h3(class='cart-header') Goods
    div(class='category-list')
    h3(class='cart-header') Cart
    div(class='goods-list')
    a(class="link-to-order" href="/order") Order