include header.pug
div(class="wrap")
    div(class="content")
        header(class="header-site")
            include header-site-order.pug
        div(class="container")
            div(class="row")
                div(class="col col-md-12")
                    h3(class="cart-title") Cart
                div(class="col col-md-12")
                    div(class="goods-list order-table")
                div(class="col col-md-12")
                    h3(class="order-title") Order
                div(class="col col-md-6")
                    form(action="" class="form")
                        div(class="form-group")
                            label(for="username") Name
                            input(id="username" class="form-control" type="text" placeholder="type your name")
                        div(class="form-group")
                            label(for="phone") Phone
                            input(id="phone" class="form-control" type="text" placeholder="please, your phone")
                        div(class="form-group")
                            label(for="email") email
                            input(id="email" class="form-control" type="text" placeholder="type your email")
                        div(class="form-group")
                            label(for="address") address
                            textarea(name="", cols="30", rows="10")(id="address" class="form-control" type="text" placeholder="please, your address")
                        div(class="form-group")
                            input(id="rule" class="form-control" type="checkbox" value="1")
                            span Terms and Conditions
                        div(class="form-group")
                            button(class="btn btn-success" type="submit") Finish order
include footer.pug
script(src="js/order.js")